.tag {
  background-color: var(--color-surface);
  width: fit-content;
  display: flex;
  gap: 1rem;
  padding: 0.2rem 0.75rem;
  border-radius: var(--radius-sm);
  margin-bottom: 0.25rem;
}

.closeIcon {
  cursor: pointer;
}

:global(body.light) .tag {
  background-color: var(--color-surface-light);
  box-shadow: 1px 1px 5px #0000001a;
}

:global(body.light) .tag p {
  color: var(--color-text-light);
}

:global(body.light) .closeIcon {
  color: var(--color-text-light);
}
