.loginContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color: #eee;
    font-size: 2.5rem;
}

.highlight {
    color: #6558FF;
}

p {
    color: #B0B0B0;
    font-size: 1rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.loginForm input {
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color: #2A303D;
    padding-left: 1rem;
    color: #eee;
    font-size: 1rem;
}

.loginForm input::placeholder {
    color: #eee;
}

.loginForm input[type="submit"] {
    font-weight: bold;
    font-size: 1rem;
    color: #eee;
    background-color: #6558FF;
    cursor: pointer;
    padding: 0;
}

.loginForm input[type="submit"]:hover {
    background-color: rgb(89, 74, 255);
}

.loginOptions a {
    text-decoration: none;
    color: #eee;
    font-size: 1rem;
}

.loginOptions a:hover {
    color: #B0B0B0;
}

.loginOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rememberMe {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #eee;
}

.rememberMe input {
    width: 1rem;
    cursor: pointer;
}

@media (max-width: 425px) {
    .loginContainer {
        width: 100%;
        padding: 0 1rem;
    }

    .loginForm input {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .loginOptions {
        flex-direction: column;
        gap: 1rem;
    }
}