.postPopUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    width: 60%;
    height: 90vh;
    padding: 1rem 2rem 5rem 5rem;
    border-radius: 10px;
}

.topIcons{
    position: sticky;
    top: 0;
    text-align: right;
    color: #d5d5d5;
    cursor: pointer;
}

.postContainer{
    width: 100%;
    margin: 2rem auto;
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 3rem;
}


.postContainer h1{
    color: #d5d5d5;
    margin-bottom: 3rem;
}

.postAttributes{
    padding: 0 0.5rem;
}

.postDivider{
    border: none;
    height: 1px;
    background-color: #424242;
    margin: 1.5rem 0 4rem 0;
}


.postBody p{
    color: #d5d5d5;
    line-height: 1.75rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: 999; /* Certifique-se de que a sobreposição esteja abaixo do popup */
}
  
:global(body.light) .postPopUp {
    background-color: #E6E9F0;
}

:global(body.light) .postContainer h1 {
    color: #2A303D;
}

:global(body.light) .postBody p {
    color: #2A303D;
}

:global(body.light) .topIcons {
    color: #2A303D;
}