.posts {
  margin: 1rem 3rem 0 18rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome h2 {
  color: #eee;
  font-size: 1.75rem;
}

.welcome p {
  color: #b0b0b0;
}

.postsHeaderIcons {
  display: flex;
  gap: 10px;
}

.postsIcon {
  background-color: #2a303d;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 30px;
  color: #eee;
}

.postsInputs {
  display: flex;
  justify-content: end;
}

.postsInputs input {
  background-color: #2a303d;
  color: #b0b0b0;
  border: none;
  border-radius: 15px;
  padding: 0.75rem;
  margin: 1rem 0;
}

.postsContainer {
  background-color: #2a303d;
  border-radius: 15px;
  padding: 1rem;
}

:global(body.light) .postsInputs input {
  background-color: #eee;
}

:global(body.light) .postsContainer {
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
