.doughnutChartContainer {
    background-color: #2A303D;
    border-radius: 15px;
    width: 27.4rem;
    height: 34rem;
    padding: 2rem;
}

.description {
    color: #eee;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 22px;
}

:global(body.light) .description {
  color: #1E1E2F;
}

:global(body.light) .doughnutChartContainer {
  background-color: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.300);
}
