.postsTable {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    table-layout: fixed;
}

.postsTable th, td {
    padding: 12px 16px;
    text-align: left;
}

.postsTable th {
    background-color: #212631;
    color: #eee;
}

.postsTable td {
    color: #B0B0B0;
}

.postsTable tr:nth-child(odd) {
    background-color: #212631;
}

:global(body.light) .postsTable th {
  color: #444444;
  background-color: #EEEEEE;
}

:global(body.light) .postsTable tr:nth-child(odd) {
    background-color: #EEE;
}

:global(body.light) .postsTable td {
  color: #646464;
}