.proportionCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.proportionCard {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-accent-dark));
    color: var(--color-text);
    border-radius: var(--radius-lg);
    width: 100%;
    min-height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 4px 4px 10px #0000004f;
    box-sizing: border-box;
}

.description {
    font-size: 18px;
}

.value {
    font-size: 30px;
}

.percentValue {
    font-size: 18px;
}

.valueContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 500px) {
    .proportionCardsContainer {
        grid-template-columns: 1fr;
    }
}
