.pieChartContainer {
    background-color: #2A303D;
    border-radius: 15px;
    width: 27.4rem;
    height: 34rem;
    padding: 2rem;
}

.description {
    color: #eee;
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width: 1024px) {
  .pieChartContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .pieChartContainer {
    height: auto;
    padding: 1rem;
  }
}