.sidebar {
  position: fixed;
  left: 2.5vh;
  background-color: #2a303d;
  width: 15rem;
  height: 95%;
  border-radius: 20px;
  padding: 1rem 2rem;
}

.title {
  font-size: 2rem;
  color: #eee;
  text-align: center;
}

.highlight {
  color: #6558ff;
}

:global(body.light) .sidebar{
  background-color: #E6E9F0;
}

:global(body.light) .title {
  color: #313131;
}

@media (max-width: 1024px) {
  .sidebar {
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0.75rem;
  }
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    left: 0;
    width: 14rem;
    border-radius: 0 20px 20px 0;
  }
  .sidebar[data-open="true"] {
    transform: translateX(0);
  }
}